<!DOCTYPE html>
<footer>
    <a href="https://www.javascript.com/" alt="javascript"><img src="https://img.shields.io/badge/javascript-%23323330.svg?style=for-the-badge&logo=javascript&logoColor=%23F7DF1E" alt="image" /></a>
    <style>
        footer {
            padding-top: 25px;
            padding-left: 25%;
            padding-right: 25%;
            padding-bottom: 0%;
            text-align: center;
        }
        img {
            padding-top: 25px;
            padding-left: 0%;
            padding-bottom: 5px;
        }
    </style>
    <p>Design By: Eduardo Fontana &#129497</p>
</footer>
</html>