<!DOCTYPE html>
<%- include('../partials/head'); %>
    <div class="container">
        <%- include('../partials/header', {pagina: 'Contact' }); %>
            <main>
                <div class="jumbotron">
                    <h1>>_Contact:</h1>
                    <a href="https://github.com/eduardofontana"><img src="https://img.shields.io/badge/github-%23121011.svg?style=for-the-badge&logo=github&logoColor=white" alt="github"></a>
                    <a href="https://twitter.com/duhduhfontana"><img src="https://img.shields.io/badge/Twitter-%231DA1F2.svg?style=for-the-badge&logo=Twitter&logoColor=white" alt="twitter"></a>
                    <a href="https://www.instagram.com/duhduhfontana"><img src="https://img.shields.io/badge/Instagram-%23E4405F.svg?style=for-the-badge&logo=Instagram&logoColor=white" alt="instagram"></a>
                    <p>Make a Noise !</p>
                </div>
            </main>
            <%- include('../partials/footer'); %>
    </div>
</html>